<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Pizzeria</title>
	<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css}" />
</head>

<body>
	<h1>Pizza Details</h1>
	<div class="d-flex justify-content-center">
    <div class="card">
        <h2>Name: <span th:text="${pizza.name}"></span></h2>
        <img style="width: 200px;" th:src="${pizza.photo}">
        <p>Description: <span th:text="${pizza.description}"></span></p>
        <p>Price: $ <span th:text="${pizza.price}"></span></p>
        <h5>Special Offers</h5>
        <ul>
			
			<li class="d-flex gap-2" th:each ="specialOffer : *{specialOffers}" th:object="${specialOffer}">
				<p>[[*{title}]]</p>
				<p>[[*{startDate}]]</p>
				<p>[[*{endDate}]]</p>
				<a th:href="@{/editOffer/{special_offer_id}(special_offer_id=${specialOffer.id})}">
					<button>Modifica Offerta</button></a>
			</li>
			
		</ul>
		<h5>Ingredienti</h5>
		<ul>
			<li class="d-flex gap-2" th:each="ingredient : *{ingredients}" th:object="${ingredient}">
				<p>[[*{name}]]</p>
			</li>
		</ul>
        <a th:href="@{/createOffer/{pizza_id}(pizza_id=${pizza.id})}"> <button> Aggiungi una nuova offerta speciale</button> </a>
    </div>
    </div>
</body>

</html>